<div class="container">
  <div class="d-flex justify-content-center">
    <div>
      <h2 class="text-center">Users</h2>
      <div class="d-flex flex-wrap" style="width: 800px;">
        <% @users.each do |user| %>
          <div class="d-flex align-items-center d-flex justify-content-center border rounded m-3 p-3" style="width: 200px; height: 100px;">
            <div>
              <%= link_to user_path(user.id) do %>
                <%= user.name %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
