<div class="container">
  <div class="d-flex justify-content-center">
    <div>
      <h2>Users</h2>
      <% @users.each do |user|%>
        <%= link_to user_path(user.id) do %>
          <%= user.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
