<%= search_form_for search_form, url: posts_path do |f| %>
<form>
  <div class="form-row">
    <div class="col">
      <%= f.search_field :title_cont, placeholder: "検索ワード" , class: "form-control" %>
    </div>
    <div class="col">
      <%= f.submit '検索' , class: "btn btn-success" %>
    </div>
  </div>
</form>
<% end %>